In [1]:
import numpy as np
import pandas as pd

In [2]:
ds = pd.read_csv('data.csv')

In [3]:
ds

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1       NaN
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

# Fixing NaN values

In [4]:
ds.Salary

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16         NaN
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

In [5]:
fill = ds.Salary.median()

In [6]:
fill

64445.0

In [7]:
ds.Salary = ds.Salary.fillna(fill)

In [8]:
ds.Salary

0      39343.0
1      46205.0
2      37731.0
3      43525.0
4      39891.0
5      56642.0
6      60150.0
7      54445.0
8      64445.0
9      57189.0
10     63218.0
11     55794.0
12     56957.0
13     57081.0
14     61111.0
15     67938.0
16     64445.0
17     83088.0
18     81363.0
19     93940.0
20     91738.0
21     98273.0
22    101302.0
23    113812.0
24    109431.0
25    105582.0
26    116969.0
27    112635.0
28    122391.0
29    121872.0
Name: Salary, dtype: float64

# after solveing NaN values

In [33]:
ds

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   64445.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

# Test Train split

In [9]:
x = ds[["YearsExperience"]]
y =ds["Salary"]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
xtrain , ytrain , xtest , ytest = train_test_split( x , y , test_size = .30 , random_state = 1 )

In [12]:
xtrain

    YearsExperience
22              7.9
23              8.2
4               2.2
2               1.5
25              9.0
6               3.0
18              5.9
13              4.1
7               3.2
27              9.6
1               1.3
16              5.1
0               1.1
15              4.9
29             10.5
28             10.3
9               3.7
8               3.2
12              4.0
11              4.0
5               2.9

In [13]:
xtest

22    101302.0
23    113812.0
4      39891.0
2      37731.0
25    105582.0
6      60150.0
18     81363.0
13     57081.0
7      54445.0
27    112635.0
1      46205.0
16     64445.0
0      39343.0
15     67938.0
29    121872.0
28    122391.0
9      57189.0
8      64445.0
12     56957.0
11     55794.0
5      56642.0
Name: Salary, dtype: float64

In [14]:
ytrain

    YearsExperience
17              5.3
21              7.1
10              3.9
19              6.0
14              4.5
20              6.8
26              9.5
3               2.0
24              8.7

In [15]:
ytest

17     83088.0
21     98273.0
10     63218.0
19     93940.0
14     61111.0
20     91738.0
26    116969.0
3      43525.0
24    109431.0
Name: Salary, dtype: float64

In [16]:
xtrain.size

21

In [17]:
ytrain.size

9

# Linear Regression

In [18]:
from sklearn import linear_model

In [19]:
reg = linear_model.LinearRegression()

In [20]:
reg

LinearRegression()

#  we already known

(y  = mx + c)

x = YearsExperience
y = Salary

 Salary = M*YearsExperience + intercept

In [21]:
reg.fit(ds[["YearsExperience"]], ds.Salary)

LinearRegression()

In [26]:
reg.predict([[15.5]])

C:\Users\youshii\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([172228.55482228])

In [29]:
reg.coef_

array([9451.40917758])

In [30]:
reg.intercept_

25731.712569790958

In [32]:
9451.40917758*15.5  + 25731.712569790958

172228.55482228097

# ...............................Thank U.....................